// Colors

// Primary
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$grey: hsl(218, 22%, 67%);

// Neutral
$light-gray: hsl(202, 43%, 93%);
$grayish-blue: hsl(180%, 47%, 52%);

// Fonts

// Primary
$primary-font-family: 'Karla', sans-serif;

