//* Colors
//? Primary
$white: white;
$red: hsl(0, 100%, 74%) ;
$green: hsl(154, 59%, 51%);
//? Accent
$blue: hsl(248, 32%, 49%);
//? Neutral
$dark-blue: hsl(249, 10%, 26%) ;
$grayish-blue: hsl(246, 25%, 77%);
//* Colors

//* Font-family
//? Primary
$primary-font-family: Poppins;
//* Font-family