@use '../assistant/index' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(25, 25, 25, 1);
  overflow: hidden;
}

main {
  @include flexer(center);
  height: 100vh;
}

// #background {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   filter: opacity(30%);
// }